<!DOCTYPE html>
<html lang="en">
<head >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <table class="table">
         <tr><td>UserName:</td><td><input type="text"></td></tr>
         <tr><td>Password:</td><td><input type="text"></td></tr>
         <tr><td></td><td><button type="button"class="btn btn-warning">Login</button></td></td></tr>
     </table>  
</body>
</html>